[user]
    name = "mimiTsuki"
    email = "49679298+mimiTsuki@users.noreply.github.com"
[ghq]
    root = ~/projects
[alias]
    tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
  delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|main'|xargs git branch -d; };f"
    pull-o = "!f(){ \
        local branch_name=${1};\
        local current_branch=$(git symbolic-ref --short HEAD);\
        local branch_remote=$(git config branch.${branch_name}.remote);\
        local branch_path=$(git config branch.${branch_name}.merge);\
        if [ ${branch_name} = ${current_branch} ];then \
            git pull ${branch_remote} ${branch_name} --ff-only;\
            return ${?};\
        else \
            git fetch ${branch_remote} && \
            git fetch . refs/remotes/${branch_remote}/${branch_name}:${branch_path};\
            return ${?};\
        fi;\
    };f"
[rerere]
    enabled = true
[core]
    ignorecase = true
[push]
    default = current
[fetch]
    prune = true
